/* styles.css */

body, html {
    padding: 0;
    margin: 0;
}

table {
    font-size: 25px;
	width: 100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

td, th {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
}

tr:nth-child(odd) td{
    background-color: rgb(242, 242, 242);
}

tr:nth-child(even) td{
    background-color: rgb(255, 255, 255);
}
