/*  your css code here. If applicable */
body,html{
	padding:0px;
	margin:0px;
}
table{
	font-size:25px;
}
td ,th{
	border : 1px solid #ccc;
	border-radius:5px;
	padding:8px;
}
tr:nth-child(even){
	background-color:#ffffff;
}
tr:nth-child(odd){
	background-color:#f2f2f2;
}